:root {
  --cor-fundo: #e2e5e9;
  --cor-fundo-2: #b9d8ee;
  --cor-forms: #bbbec3;
  --cor-texto: #1e3b69;
  --cor-erro: #ff0000;
  --cor-sucesso: #00ff4c;
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#bodyLogin {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
}

#mainLogin {
  padding: 3%;
  gap: 1%;
  border-radius: 18%;
  box-shadow: 10px 10px 15px rgba(19, 20, 55, 0.3);
  background-color: var(--cor-fundo-2);
}

#formLogin {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

#formLogin input {
  padding: 5px;
  border: solid var(--cor-texto);
}

#formLogin button {
  border: solid var(--cor-texto);
}

#formLogin button:hover {
  background-color: var(--cor-texto);
}

.toggle {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  color: var(--cor-texto);
}

.erro {
  color: var(--cor-erro);
  font-size: 12px;
  text-align: center;
}

.sucesso {
  color: var(--cor-sucesso);
  font-size: 12px;
  text-align: center;
}











































.navbar{
    display: inline;
    background-color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.img-nav{
    height: 40px;
    width: 40px;
    margin: 10px;
}

.barra-lateral{
    background-color: rgb(45, 45, 46);
    height: 100%;
    padding-right: 20px;
}

.barra-lateral-aux{
    height: 350px;
    width: 90px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}

button{
    background-color: transparent;
    color: white;         
    padding: 10px 20px;
    border: none;             
    cursor: pointer;         
    transition: 0.3s;   

}

.flex{
    display: flex;
}

.card-img-top{
    height: 270px;
    
}

.cards{
    
}


.padding{
    padding: 10px;
}




.blue{
  height: 100px;
  width: 100px;
  background-color: #ff0000;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body{
  height: 100vh;
}

.menu-lateral{
  width: 50px;
  height: 100%;
  background-color: rgb(45, 45, 46);
  padding: 40px 0 40px 1%;
  
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: .2s;
}

.menu-lateral:hover{
  width: 300px;
  transition: .1s;
}

.btn-expandir{
  width: 100%;
}



.btn-expandir > i{
  color: white;
  font-size: 30px;
  cursor: pointer;
}

ul{
  height: 100%;
  list-style-type: none;
}

ul li.expander:hover{
  width: 500px;
}

ul li.item-menu:hover{
  background-color: #2d1a72;
  padding-left: 10px;
}

ul li.item-menu a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 0%;
  display: flex;
  line-height: 32px;
}

ul li.item-menu a .txt-link{
  margin-left: 30px;
}

ul li.item-menu a .icon{
  color: white;
  font-size: 30px;
}

