:root {
  --cor-fundo: #e2e5e9;
  --cor-fundo-2: #b9d8ee;
  --cor-forms: #bbbec3;
  --cor-texto: #1e3b69;
  --cor-erro: #ff0000;
  --cor-sucesso: #00ff4c;
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#bodyLogin {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
}

#mainLogin {
  padding: 3%;
  gap: 1%;
  border-radius: 18%;
  box-shadow: 10px 10px 15px rgba(19, 20, 55, 0.3);
  background-color: var(--cor-fundo-2);
}

#formLogin {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

#formLogin input {
  padding: 5px;
  border: solid var(--cor-texto);
}

#formLogin button {
  border: solid var(--cor-texto);
}

#formLogin button:hover {
  background-color: var(--cor-texto);
}

.toggle {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  color: var(--cor-texto);
}

.erro {
  color: var(--cor-erro);
  font-size: 12px;
  text-align: center;
}

.sucesso {
  color: var(--cor-sucesso);
  font-size: 12px;
  text-align: center;
}
 








































  


.nav-bar{
    background-color: rgb(22, 22, 22);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
  
}

.img-nav{
    height: 40px;
    width: 40px;
    margin: 10px;
    position: absolute;
    left: 49%;
}

.flex{
    display: flex;
}

.card-img-top{
    height: 270px;
    
}

.padding{
    padding: 10px;
}




.blue{
  height: 100px;
  width: 100px;
  background-color: #ff0000;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body{
  height: 100vh;
  background-image: url(assets/110184-pokemon-748x468.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.ajuste{
  padding-top: 50px;
}

.cards{
  margin-right: 10px;
  height: 100vh;
  width: 2000px;
  overflow: scroll;
}

.menu-lateral{
  width: 50px;
  height: 100%;
  background-color: rgb(45, 45, 46);
  padding: 20px 0 20px 10px;
  box-shadow: 3px 0 0 rgb(24, 24, 73);
  overflow: hidden;
  position: fixed;
  top: 70px;
  left: 0;
  transition: .2s;
  z-index: 10;
}

.menu-lateral:hover{
  width: 400px;
  transition: .2s;
  z-index: 10;
}

.btn-expandir{
   width: 100%;
  font-size: 30px;
  color: whitesmoke;
}

.branco{
  padding: 10px;
  background-color: rgba(235, 235, 235, 0.952);
  height: 96vh;
  width: 90vw;
  margin: 5vh 5vw;
  overflow: scroll;
}

.div-ash{
  height: 400px;
  width: 400px;
  padding-left: 30px;
  padding-top: 20px;
}

.img-ash{
  height: 400px;
  width: 400px;
}

.celula-escolha{
  background-color: rgb(121, 121, 121);
  padding: 5px;
  border: solid rgb(87, 87, 87);
  text-decoration: none;
  color: black;
}

.grupo-celula-escolha{
  padding: 10px 0;
}

h1{
  padding: 5px;
}
p{
  padding: 5px;
}

.submit{
  text-decoration: none;
  color: whitesmoke;
}


